table {
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  /* background-color: #FFD369; */
}



tr{
  background-color: #dddddd;
}

thead {
  background-color: #FFD369; 
}






.F{
    font-family: Georgia;
    font-weight: 250;
    font-size:20px;
    color: '#ff0000';
   }
